@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'katex/dist/katex.min.css';

body {
  background-color: #050505;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(57, 255, 20, 0.3);
  border-radius: 10px;
}